<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
</head>

<body>
  <nav class="bg-info text-white navbar navbar-nav navbar-brand navbar-text border-bottom border-bottom-10 border-primary">
    <div> Tech Blog | <a href="#" class="navbar-brand text-white">Home</a> | <a href="#" class="navbar-brand text-white">Login</a> | <a href="#" class="navbar-brand text-white">Logout</a> | <a href="#" class="navbar-brand text-white">New Blog</a>
      
    </div>
  </nav>
    </header>
    <main>
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
