<section id="commentForm">
    <h2> Add a Comment </h2>
    <div id="holder">
        <div class="row px-3 form-item"> <label class="mb-1">
                <h6 class="mb-0 text-sm">Content</h6></label>
            <textarea class="form-control" id="commentBody"> {{comment.body}} </textarea>
        </div>
        <div class="row px-3 mb-4">
            <button type="submit" class="btn btn-primary row mb-3 px-3" id="addComment">Submit</button>
        </div>
    </div>
</section>

<script src="/js/comment.js"></script>