<section id="editBlogForm">
    <h2> Edit Blog </h2>
    <div id="holder">
        <div class="row px-3 form-item"> <label class="mb-1">
                <h6 class="mb-0 text-sm">Title</h6></label> 
            <input class="form-control" id="blogTitle" value="{{blog.title}}"> {{blog.title}} </input>
        </div>
        <div class="row px-3 form-item"> <label class="mb-1">
                <h6 class="mb-0 text-sm">Content</h6></label>
            <textarea class="form-control" id="blogBody"> {{blog.content}} </textarea>
        </div>
        <div class="row px-3 mb-4">
            <button type="submit" class="btn btn-primary row mb-3 px-3" id="editBlog">Submit</button>
        </div>
    </div>
</section>

<script src="/js/edit-Blog.js"></script>